:root {
  --body: rgb(95, 98, 109);
  --bg: rgb(143, 96, 43);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body);

  /* min-height: 7000px; */
}

/* header */
header {
  text-align: center;
  background-color: rgba(83, 85, 92, 0.7);
  padding-bottom: 0.5rem;
  border-bottom: 4px solid rgb(122, 109, 64);
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
}

header h1 {
  font-size: 4rem;
  padding-top: 0.3rem;
}

header a {
  color: #eaeaea;
  padding: 2px 3px;
  text-decoration: none;
  margin-right: 0.5rem;
}

header a:hover {
  background-color: #eaeaea;
  color: rgb(49, 47, 47);
}

/* hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../image/bck.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 27%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(95, 98, 109, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

/* hero */
.content {
  /* border: 2px solid red; */
  width: 30rem;
  margin: 0 0 0 1rem;
}

.pnp {
  text-align: center;
  border-bottom: 4px solid rgb(126, 75, 17);
  padding-bottom: 0.7rem;
}

.pnp h1 {
  font-style: italic;
  font-size: 3rem;
}

.pnp span {
  color: rgb(143, 96, 43);
}

.pnp p {
  font-size: 2rem;
  font-weight: bold;
}

.hub {
  /* border: 2px solid black; */
  width: 80%;
  height: 50%;
  margin: auto;
  padding-top: 1rem;
  text-align: center;
}

.hub p {
  margin-bottom: 2rem;
  line-height: 1.5rem;
  font-weight: 100;
}

.hub a {
  background-color: rgb(156, 107, 16);
  padding: 0.7rem 1.5rem;
  color: #eaeaea;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(83, 85, 92, 0.7);
}

.hub a:hover {
  background-color: rgb(216, 134, 10);
}

/* tentang kami */
.tentang-kami {
  /* border: 2px solid yellow; */
  margin: auto;
  height: 400vh;
}
.kotak3 {
  width: 100%rem;
  height: 82vh;
  background-color: rgb(48, 44, 44);
  margin: 1rem 0 0 0;
  position: fixed;
  z-index: -9999;
  top: 5.7rem;
  left: 0;
  right: 0;
  background-image: url(../image/bck1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50rem;
}

.kotak4 {
  width: 100%rem;
  height: 6.7rem;
  background-color: var(--body);
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.container-judul-tentang-kami {
  position: absolute;
  z-index: -2;
  top: 195vh;
  /* border: 2px solid rgb(248, 5, 5); */
  width: 95%;
  margin: auto 2.5% auto 2.5%;
}
/* bagian satu */
.container-judul-tentang-kami section {
  /* border: 2px solid black; */
  width: 50%;
  text-align: center;
  margin: auto;
}

.container-judul-tentang-kami .jd-ttk {
  font-size: 2.4rem;
  font-style: italic;
  padding-top: 10rem;
}

.container-judul-tentang-kami span {
  color: var(--bg);
}

.container-judul-tentang-kami p {
  margin-top: 0.5rem;
  line-height: 1.4rem;
}

/* tentang kami bagian 2 */
.c-tk-bagian-dua {
  /* border: 2px solid #1b0d9c; */
  display: flex;
  flex-wrap: wrap;
}

/* bagian 2 kiri */
.bagian-dua-kiri {
  margin-top: 2rem;
  width: 60%;
  /* border: 2px solid yellow; */
  margin-right: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.layanan-bagian-dua {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.layanan {
  display: inline-block;
  /* border: 2px solid pink; */
}

.layanan img {
  background-color: var(--bg);
  margin-right: 0.7rem;
  padding: 5px 5px;
  border-radius: 50%;
  width: 5rem;
}

.ket-layanan {
  /* border: 2px solid beige; */
  width: 80%;
}

.ket-layanan h1 {
  font-size: 1.5rem;
}

/* bagian 2 kanan */
.bagian-dua-kanan {
  margin-top: 2rem;
  width: 39.3%;
  /* border: 2px solid rgb(88, 88, 19); */
  text-align: center;
}

.bagian-dua-kanan .dua {
  font-weight: bold;
  color: #eaeaea;
}

/* tentang kami bagian tiga */
.c-tk-bagian-tiga {
  /* border: 2px solid #1b0d9c; */
  margin-top: 2rem;
}

.c-tk-bagian-tiga h1 {
  text-align: center;
}

.c-tk-bagian-tiga .slebew {
  background-color: rgba(94, 93, 92, 0.7);
  display: flex;
  justify-content: space-between;
}

/* bagian 3 kiri */

.img-slebew {
  width: 100%;
}

/* bagian 3 kanan */
.ket-slebew {
  /* border: 2px solid yellowgreen; */
  width: 50%;
  padding-left: 0.7rem;
}

.ket-slebew h1 {
  font-size: 2rem;
  text-align: left;
}

.kotak5 {
  width: 100%;
  height: 2rem;
  background-color: var(--body);
  top: 98vh;
  left: 0;
  right: 0;
  position: fixed;
}

/* bagian 4 tentang kami */
.c-tk-bagian-empat {
  background-color: rgba(94, 93, 92, 0.7);
  height: 23rem;
  margin-top: 4rem;
  overflow: auto;
}

.c-tk-bagian-empat h1 {
  text-align: center;
}

.c-kepercayaan-anda {
  /* border: 2px solid yellowgreen; */
  display: flex;

  margin-top: 1.7rem;
}

/* bagian 4 wiwin */
.wiwin {
  /* border: 2px solid white; */
  width: 38.8rem;
  margin-right: 1.5rem;
}

.wiwin img {
  width: 35%;
  margin-right: 5px;
  float: left;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.clear-wiwin {
  clear: left;
}

/* bagian 4 akbar */
.akbar {
  /* border: 2px solid white; */
  width: 38.8rem;
}

.akbar img {
  width: 35%;
  margin-right: 5px;
  float: left;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.clear-akbar {
  clear: left;
}
/* tentang kami end */

/* produk start*/
/* produk 1 */
.produk-satu {
  background-color: var(--body);
  padding-bottom: 2rem;
}

.produk-satu .jd-layanan {
  text-align: center;
  font-style: italic;
  padding-top: 10rem;
}

.produk-satu .ket-lps {
  text-align: center;
  margin: 0 20% 0 20%;
  margin-top: 0.7rem;
  line-height: 1.4rem;
}

.produk-satu span {
  color: var(--bg);
}

.p-warna {
  margin: 2rem 12% 0 12%;
  display: flex;
}
.p-warna img {
  width: 19%;
  height: 19%;
  border-top-left-radius: 27%;
  border-bottom-right-radius: 27%;
  margin-right: 1.7rem;
}

.ket-warna p {
  margin-top: 0.7rem;
  line-height: 1.4rem;
}

/* produk2 */
.produk-dua {
  display: flex;
  justify-content: space-between;
}

.pd-kotak-kiri {
  padding: 0.5rem 0;
}

.pd-kotak-kiri h1 {
  display: inline-block;
  background-color: #e78504;
}
.pd-kotak-kanan {
  background-color: var(--body);
  width: 24%;
}

/* produk 3 */
.produk-tiga {
  background-color: var(--body);
  padding-bottom: 2rem;
}

.p-desain {
  margin: 0 12% 0 12%;
  display: flex;
  padding-top: 2rem;
}

.p-desain img {
  width: 19%;
  height: 19%;
  border-top-left-radius: 27%;
  border-bottom-right-radius: 27%;
  margin-right: 1.7rem;
}

.ket-desain h1 {
  font-size: 1.5rem;
}

.ket-desain p {
  margin-top: 0.7rem;
  line-height: 1.4rem;
}

/* produk end*/

/* kontak start */
.kontak {
  background-color: var(--body);
  padding-bottom: 5rem;
}

.kontak h1 {
  padding-top: 10rem;
  text-align: center;
}

.kontak span {
  color: var(--bg);
}

.kontak p {
  margin: 0 25%;
  text-align: center;
}

.kontak .c-row {
  margin: 0 7%;
}

.kontak .c-row .row {
  display: flex;
  margin-top: 2rem;
  background-color: rgb(103, 105, 112);
}

.kontak .c-row .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.kontak .c-row .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.kontak .c-row .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: black;
  border: 1px solid #eee;
  padding-left: 2rem;
}

.input-group input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background: none;
  color: #eaeaea;
  margin-left: 2rem;
}

.row form a {
  color: #eee;
  font-size: 1.4rem;
  text-decoration: none;
  background-color: var(--bg);
  padding: 1rem 3rem;
  position: relative;
  top: 2rem;
  font-weight: bold;
  border-radius: 0.9rem;
}

.alamat {
  background-color: rgb(103, 105, 112);
  margin: 2rem 35%;
  padding: 2rem 0;
}

.alamat h4 {
  text-align: center;
  color: rgb(43, 39, 39);
}

.alamat p {
  color: rgb(43, 39, 39);
  padding-top: 1rem;
}
/* kontak end */

/* footer start */
.c-footer {
  background-color: var(--bg);

  position: relative;
}

footer {
  background-color: var(--bg);
  text-align: center;
  padding: 1rem 0;
}

footer .social a {
  color: #eaeaea;
  padding: 0 2rem;
}

footer .social a:hover {
  color: black;
}

footer .links {
  padding-top: 1rem;
}
footer .links a {
  color: #eaeaea;
  padding: 0 1rem;
  text-decoration: none;
}

footer .links a:hover {
  color: black;
}

footer .copy {
  padding-top: 0.5rem;
}

footer .copy p {
  font-size: 0.8rem;
}

footer .copy a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* footer end */
/* media querry */

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 99.9%;
  }

  .kotak3 {
    height: 89vh;

    background-position-y: -30rem;
  }

  .tentang-kami {
    height: 400vh;
  }
  /* bagian dua kanan */
  .bagian-dua-kanan {
    width: 38.9%;
  }
}

/* tablet */
/* hero */
@media (max-width: 768px) {
  html {
    font-size: 79.5%;
  }
  /* tentang kami */
  .tentang-kami {
    height: 400vh;
  }

  .kotak3 {
    height: 89vh;

    background-position-y: -20rem;
  }

  /* bagian dua kanan */
  .bagian-dua-kanan {
    width: 38.1%;
  }

  /* bagian 3 kiri */
  .slebew {
    flex-wrap: wrap;
  }

  .img-slebew {
    width: 100%;
  }

  /* bagian 3 kanan */
  .ket-slebew {
    width: 100%;
  }

  /* produk  1 */

  .p-warna {
    margin: 2rem 0.5% 0 0.5%;
  }
}

/* heand phon */
/* hero */

@media (max-width: 576px) {
  html {
    font-size: 67%;
  }

  header h1 {
    font-size: 2.7rem;
  }

  .content {
    margin: auto;
  }

  .pnp p {
    font-size: 1.7rem;
  }
  .pnp h1 {
    font-size: 2.4rem;
  }

  /* tentang kami */
  .container-judul-tentang-kami {
    top: 135vh;
  }

  .tentang-kami {
    height: 300vh;
  }
  .kotak3 {
    width: 100%rem;
    height: 91.7vh;
    top: 4.3rem;
    background-position-y: -1rem;
  }

  .kotak4 {
    height: 5.2rem;
  }

  .container-judul-tentang-kami section {
    width: 99%;
  }

  /* tentang kami bagian dua */
  .bagian-dua-kiri {
    width: 100%;
    margin-right: 0;
  }

  .bagian-dua-kanan {
    width: 100%;
  }

  /* bagian 3 kiri */
  .slebew {
    flex-wrap: wrap;
  }

  .img-slebew {
    width: 100%;
  }

  /* bagian 3 kanan */
  .ket-slebew {
    width: 100%;
    padding-left: 0;
  }

  /* produk bagian 1 */
  .produk-satu .ket-lps {
    margin: 0 10% 0 10%;
  }
  .p-warna {
    margin: 2rem 0.5% 0 0.5%;
  }
  .p-warna img {
    margin-right: 4px;
  }

  /* produk bagian 3 */
  .p-desain {
    margin: 0 0.5% 0 0.5%;
  }

  .p-desain img {
    margin-right: 4px;
  }

  /* kontak */
  .kontak h1 {
    font-size: 2.9rem;
  }

  .kontak p {
    margin: 1rem 15%;
  }

  .c-row .row {
    flex-wrap: wrap;
  }

  .row .map {
    height: 30rem;
  }

  .alamat {
    margin: 2rem 25%;
  }
}
